@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
  }

  .conteudo{
    width: 100%;
    margin-top: 19px;
  }

  .menu-item{
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 35px;
  }

  .menu{
    background-color:#4778EC;
    width: 100px;
    height: 26px;
    font-size: 13px;
    font-family: League Spartan;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu:hover{
    background-color: #1946a2;
  }

  .cards-container{
    margin-top: 35px;
    margin-left: 25px;
  }

  .acervo-name{
    font-size: 25px;
    font-family: League Spartan;
  }

  .cards-principal{
    display: flex;
    gap: 50px;
    margin-top: 90px;
  }

  .acervo{
    background-color: #4778EC;
    width: 253px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: League Spartan;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.acervo:hover{
    background-color: #1946a2;
}