@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.logout-btn {
    position: absolute;
    top: 55px;
    right: 15px;
    left: 90%;
    background-color: #4778EC;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logout-btn i {
    color: white;
    font-size: 24px;
}








/* Configurações para o contêiner flexível principal */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background: #ECF2F7; /* Cor de fundo */
    color: black; /* Cor do texto */
    width: 100%;
    height: 130vh; 
    margin-top: 20px;
}

/* Configurações para o item flexível principal */
.flex-item {
    top: -720px;
    position: relative;
    order: 1;
    width: calc(100% - 20px);
    background: #4778EC;
    color: white;
    padding: 20px;
    border-radius: 10px;
    
}



/* Configurações para a imagem da biblioteca */
.imagem-biblioteca {
    max-width: 10%;
    object-fit: cover;
    text-align: center;
    margin: auto 0;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: 50px;
}

/* Configurações para a imagem de login */
.img-login {
    flex: 0 0 auto;
    padding: 20px;
}

/* Configurações para o bloco de texto próximo à imagem */
.img-text {
    flex: 0 0 auto;
    padding: 30px;
    text-align: center;
    margin-right: 66%; 
}
/* Configurações para o texto destacado dentro do bloco de texto */
.destacado {
    font-weight: bold;
    color: #000;

}





/* Configurações para a ilustração de login */
.ilustracao-login {
    width: 200px;
    max-width: 100%;
}

/* Borda do h1*/
.titulo-biblioteca {
   margin: 0;
   margin-bottom: 60px;
   font-size: 24px;
   width: 80%;
  
}





/*  estilo para os cards */
.card {
    position: relative;
    flex: 0 0 calc(25% - 40px); 
    background:  #022978;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20%  10px ;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    transition: box-shadow 0.3s ease;
    z-index: 1;
   
}

.card i {
    font-size: 40px; /* Tamanho do ícone */
    margin-bottom: 10px; /* Espaçamento entre o ícone e o texto */
    color: white;
}


.card h3 {
    position: absolute;
    right: 55%;
    bottom: 45%;
    text-align: center; 
    color: white;
    font-size: 25px;
     margin: 0;
     transform: translateX(60% );




}


.card:hover {
    box-shadow: 0 0 95px rgba(13, 28, 163, 0.3); 
}



/* Font Awesome  */
.fa-users::before {
    content: "\f0c0";
    
}

.fa-book-reader::before {
    content: "\f5da";
   
}

.fa-book::before {
    content: "\f02d";
}

.fa-handshake::before {
    content: "\f2b5";
}

