@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações para a imagem de login */
.img-login {
    flex: 0 0 auto; /* Não cresce nem encolhe, tamanho automático */
    padding: 20px; /* Adiciona espaçamento interno de 20px */
}

/* Configurações para o bloco de texto próximo à imagem */
.img-text {
    flex: 0 0 auto; /* Não cresce nem encolhe, tamanho automático */
    padding: 30px; /* Adiciona espaçamento interno de 30px */
    text-align: center; 
}

/* Configurações para o texto destacado dentro do bloco de texto */
.destacado {
    font-weight: bold; 
    color: #000; 
}

/* Configurações para a ilustração de login */
.ilustracao-login {
    width: 200px; /* Tamanho fixo de 200px */
    max-width: 100%; /* Largura máxima de 100% do contêiner pai */
}

/* Configurações para o contêiner flexível principal */
.flex-container {
    display: flex; /* Exibe como um contêiner flexível */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço */
    align-items: stretch; /* Estica os itens para ocupar toda a altura do contêiner */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    background: #ECF2F7; /* Cor de fundo */
    color: black; /* Cor do texto */
    width: 100%; /* Largura total */
    height: 100vh; /* 100% da altura da viewport */
    margin-top: 20px; /* Margem superior de 20px */
}

/* Configurações para o item flexível principal */
.flex-item {
    order: 1; /* Ordem de exibição */
    flex: 0 0 auto; 
    overflow: hidden; 
    flex-basis: 95%; 
    max-width: 100%; 
    background: #4778EC; 
    color: white; 
    padding: 20px; 
    margin-top: 0; 
    margin-bottom: 20px;
    margin-left: 30px; 
    margin-right: 10px; 
    align-self: center; 
    border-radius: 10px; 
}

/* Configurações para os cards */
.card {
    order: 2; 
    flex: 0 0 auto; 
    background: #022978; 
    padding: 20px; 
    text-align: center; 
    margin: 50px 10px 10px 10px; 
    box-shadow: 0 4px 8px; 
    flex: 0 0 calc(20.20% - 20px); 
    border-radius: 10px; 
}

/* Configurações para os ícones dentro dos cards */
.card i {
    font-size: 48px; 
    color: white; 
    margin-bottom: 10px; 
}

/* Configurações para o parágrafo dentro do bloco de texto */
.img-text p {
    margin-left: 10%; 
}

/* Configurações para os títulos dentro dos cards */
.card h2 {
    color: white; 
}

/* Configurações para a imagem da biblioteca */
.imagem-biblioteca {
    max-width: 10%; 
    object-fit: cover; 
    text-align: center; 
    margin: auto 0; 
    height: 100%; 
    display: block; 
    margin-left: auto; 
    margin-right: 50px; 
}
