@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
main{
    grid-area: main;
    background-color: #022978;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "main";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.container-bg{
    background-color: #022978;
    display: flex;
    width: 100%;
    height: 100%;
}

.card-frase{
    background-color: #022978;
    width: 100%;
    margin-top: 50px;
}

.form-login{
    background-color: #ECF2F7;
    width: 65%;
    margin: 2%;
    border-radius: 5%;
    align-items: center;
}

.fonte-bg{
    font-size: 100px;
    color: white;
    font-family: Anton;
}
.fonte-bg-1{
    font-size: 45px;
    font-family: Bebas Neue;
    color: white;
    margin-bottom: 47px;
}

.frase-bg{
    margin-left: 60px;
}

.ilustracao-login{
    width: 500px;
}

.logo-azul{
    width: 35%;
}

.logo-login{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.nome-login{
    font-size: 25px;
    font-family: League Spartan;
    text-align: center;
    margin-bottom: 25px;
}


.form-aut{
    text-align: center;
    width: 100%;
    height: 50px;
}

.form-label{
    font-family: League Spartan;
    margin-left: 87px;
}

.form-input{
    border-radius: 8px;
    border:1px solid #8B97B2;
    background-color: #FFFFFF;
    outline:none;
    width: 70%;
    height: 100%;
}

.bt-login{
    margin-top: 90px;
    text-align: center;
    height: 270px;
}

.button-login{
    color: white;
    background-color:#4778EC;
    width: 18%;
    height: 15%;
    border: none;
    border-radius: 10px;
    font-family:League Spartan;
}

.button-login:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 

  /*Responsividade*/
  /*incompleto*/

@media screen and (max-width:1246px){
    .form-login{
        margin-right: 50px;
        width: 100%;
    }
    .form-label{
        margin-left: 70px;
    }

    .fonte-bg{
        font-size: 90px;
    }
    .fonte-bg-1{
        font-size: 40px;
        margin-bottom: 47px;
    }
    
    .ilustracao-login{
        width: 410px;
    }

    .container-bg{
        height: 650px;
    }

    .bt-login{
        height: 190px;
    }

    .img-login{
      height: 250px;
    }

    .button-login{
        width: 20%;
        height: 20%;
    }
}
@media screen and (max-width:1243px){
    .form-label{
        margin-left: 70px;
    }
}

@media screen and (max-width:1092px){
    .form-label{
        margin-left: 60px;
    }
}

@media screen and (max-width:914px){
    .form-label{
        margin-left: 51px;
    }
}

@media screen {

    .container{
        background-color: #ECF2F7;
    }
}

@media screen and (max-width:863px){

    .container-bg{
        background-color: #ECF2F7;
    }
    .card-frase{
        opacity: 0; /* Esconde no desktop. */
        height: 0;
    }

    .container{
        align-items: center;
        justify-content: center;
    }

    .form-login{
        position: absolute;
        width: 100%;

    }

    .form-label{
        margin-left: 130px;
    }
}

@media screen and (max-width:791px){
    .form-label{
        margin-left: 120px;
    }
}

@media screen and (max-width:724px){
    .form-label{
        margin-left: 110px;
    }
}

@media screen and (max-width:770px){
    .form-label{
        margin-left: 100px;
    }
}

@media screen and (max-width:592px){
    .form-label{
        margin-left: 90px;
    }

    .form-login{
    height: 100%;
    border-radius: 0;
    }

    body{
        background-color: #ECF2F7;;
    }
}

@media screen and (max-width:592px){
    .form-label{
        margin-left: 80px;
    }
}

@media screen and (max-width:483px){
    .form-label{
        margin-left: 73px;
    }
}